<h1>About Us</h1>
<p>Tackle Club is where you pay an annual membership fee. Then when you purchase tackle, you pay retail, but get 1 point for every dollar you spend. You can use those points to purchase more tackle!</p>
