<h1>Contact Us</h1>
<p>This is how you contact us.<br>
If you'd like to email me, you can do so at <a href="mailto:duncanscarry@gmail.com">Duncan Scarry's email address.</a>
</p>
<p>If you want to contact me, call (239) 398-1251</p>
